[Unit]
Description=irtt server bound to interface %i
After=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device
Documentation=man:irtt(1)
Documentation=man:irtt-server(1)

[Service]
ExecStart=/usr/bin/irtt server -b %%%i
User=nobody
Restart=on-failure

# Sandboxing
# Some of these are not present in old versions of systemd.
# Comment out as appropriate.
PrivateTmp=yes
PrivateDevices=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ProtectHome=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
