[Unit]
Description=irtt server bound to interface %i
After=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
ExecStart=/usr/bin/irtt server -b %%%i
User=nobody
Restart=on-failure

# Sandboxing
# Some of these are not present in old versions of systemd.
# Comment out as appropriate.
PrivateTmp=yes
PrivateDevices=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ProtectHome=yes
NoNewPrivileges=yes
SystemCallArchitecture=native
SystemCalls=@basic-io @io-event @network-io @signal @timer

[Install]
WantedBy=multi-user.target
